version: '3'

services:
  nginx:
    image: nginx:1.15-alpine
    restart: unless-stopped
    networks:
      front-end:
    depends_on:
      - mywebapp
    volumes:
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - ./data/mywebapp/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    ports:
      - "80:80"
      - "443:443"
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
  
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    networks:
      front-end:    
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  mywebapp:
    image: __MyAppImage__
    restart: unless-stopped
    hostname: mywebapp
    expose:
      - "80"
      - "443"
    networks:
      front-end:
        aliases:
          - mywebapp
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/root/.microsoft/usersecrets/cert.pfx
    volumes:
      - ./data/mywebapp/ASP.NET/Https:/root/.aspnet/https:ro
      - ./data/mywebapp/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
networks:
  front-end:
        
